<p id="notice"><%= notice %></p>

<div class="container-flex mt-5">
  <div class="mx-3">
    <%= link_to "New Class", new_subject_path, class: "btn btn-primary mb-5"%>
  </div>
  <div class="subjects d-flex">
  <%= render "subject_list" %>
  </div>
</div>
