/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "variables";
@import "simple_calendar";

// TODO: Extract rules into seprate stylesheets

//Wrapper
#wrapper {
  display:flex;

  #content-wrapper {
    background-color: #f8f9fc;
    width: 100%;
    overflow-x: hidden;

    #content {
      flex: 1 0 auto
    }
  }
}

//Sidebar
.sidebar {
  width: 6.5rem;
  min-height: 100vh;
}
.bg-gradient-primary {
  background-color: #4e73df;
  background-image: linear-gradient(180deg,#4e73df 10%,#224abe);
  background-size: cover;
}
@media (min-width: 768px) {
  .sidebar {
    width: 14rem!important;
  }
}

.new-item {
  padding-top: 3rem

}

.new-item:hover {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.new-class-button:visited {
  color: initial;
}

a:hover {
  background-color: inherit;
}

i:visited {
  color: $light;
}

.small {
  width: 50px;
}
