<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
  <div class="container-fluid d-flex flex-column p-0">
    <%= link_to root_path, :class => "navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" do %>
      <%= image_tag 'logo.png' %>
    <% end %>
    <hr class="sidebar-divider my-0">
    <ul class="w-100 nav navbar-nav text-light" id="accordionSidebar">
        <%= link_to root_path do %>
      <li class="nav-item p-2" role="presentation">
          <i class="fa fa-pie-chart">
          </i>
          <span>Dashboard</span>
      </li>
        <% end %>
        <%= link_to '/calendar' do %>
      <li class="nav-item p-2" role="presentation">
          <i class="fas fa-table">
          </i>
          <span>Calendar</span>
      </li>
        <% end %>
    </ul>
    <div class="text-center d-none d-md-inline">
      <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"> </button>
    </div>
  </div>
</nav>
